body,
html {
  background-color: #d6dad6;
  margin: 0 auto;
  min-width: 65vw;
  max-width: 65vw !important;
}

/***************Header******************/
.plusSign {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
}

.title,
.subtitle {
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
}

/****************************************/

/****************Body********************/

.slowPulse {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 2.5s;
  -moz-animation-iteration-count: infinite;
}

.slowerFadeIn {
  animation-duration: 2.4s;
  -webkit-animation-duration: 2.4s;
  -moz-animation-duration: 2.4s;
}

.slowestFadeIn {
  animation-duration: 5.2s;
  -webkit-animation-duration: 5.2s;
  -moz-animation-duration: 5.2s;
}

.small {
  font-size: .5rem;
}

.techIcons {
  width: 5vw;
}

.quote {
  font-size: .7rem;
  margin: 0 auto;
}
/*****************************************/
/**************Footer*******************/
.copyright {
  align-self: center;
  margin-bottom: auto;
}

.emailMsg {
  font-size: .7rem;
}

.footer {
  align-items: flex-end;
  border: 1px solid #b1b4b1;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  max-height: 5vh;
}

.line {
  border: .5px solid black;
  height: .3px;
  margin: 15px 0px 0px 10px;
  width: 100%;
}

.links {
  padding: 15px;
}

.social-icons {
  margin: 0 auto;
}

.uppercase {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .5rem;
  letter-spacing: .3em;
  text-transform: uppercase;
}

.whoami {
  animation-duration: 8s;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;
  -moz-animation-iteration-count: infinite;
}
/**************************************/
.active {
  color: #bbbfbb !important;
  cursor: default;
  pointer-events: none;
}

.nav {
  background-color: #5e5656;
  border-radius: 0 0 8px 8px;
}

.tile {
  margin: 10px 0px 10px 0px;
}

@media (max-width: 766px) {
  body,
  html {
    min-width: 100vw;
  }

  .subtitle {
    font-size: .8rem;
  }

  .techIcons {
    min-width: 10vw;
  }

  .title {
    font-size: 1.7rem;
  }

  .title,
  .subtitle {
    text-align: center;
  }

  .uppercase {
    font-size: 6px;
  }
}

@media (max-width: 360px) {
  .social-icons {
    margin: default;
  }
}
